<div class="flex flex-col flex-grow pt-4 md:pt-10 px-0 lg:px-12 homepage md:max-w-7xl mx-auto">
  <div class="flex flex-col max-w-[650px] items-center sm:flex-row mb-14">
    <div class="flex flex-col w-full sm:mr-5 lg:mr-20 mb-6 sm:mb-0">
      <h2 class="outfit text-sm font-bold text-dark-viridian"><span>BECOME AN ORGANIZER</span></h2>

      <h2 class="outfit text-2xl font-bold mt-2 mb-8">We’ll walk you through a few steps to build your local community</h2>

      <%= link_to 'Get started', new_user_group_path(current_user.id), class: "text-center text-sm w-full sm:w-[246px] rounded-lg cursor-pointer text-white py-2 px-4 bg-indigo-600 hover:opacity-80 float-left md:float-none inline-block hover:no-underline transition ease-in-out delay-75" %>
    </div>
  </div>

  <%#  ---------- CAROUSEL ---------- %>
  <div>
    <div class="carousel relative shadow-2xl bg-dark-viridian max-h-[583px] py-[40px] -mx-[1rem] sm:-ml-[2rem] sm:-mr-[1.5rem] md:-mr-[2rem] lg:-mx-[5rem]">
      <h2 class="outfit px-4 sm:px-7 md:px-8 text-2xl font-bold text-white mb-9 text-center lg:max-w-[868px] mx-auto">People start Hangout groups to make new friends, pursue passions, and turn side hustles into careers.</h2>
      <div class="carousel-inner relative overflow-hidden w-full sm:pb-16 lg:px-12">
        <!--Slide 1-->
        <input class="carousel-open hidden" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
        <div class="carousel-item absolute opacity-0">
          <div class="block h-full px-4 sm:pl-8 md:px-8 sm:pr-6 bg-dark-viridian text-white text-5xl text-center">
            <div class="sm:flex">
              <div class="w-full h-11/12 max-h-[340px] mb-6 lg:mb-0 mx-auto rounded-md overflow-hidden">
                <%= image_tag "person_cutting_oyster.jpg", class: "h-full w-full" %>
              </div>

              <div class="sm:flex sm:flex-col justify-center sm:px-8 w-full">
                <p class="outfit text-xl font-bold text-white mb-6 text-center sm:text-left lg:max-w-[868px] mx-auto sm:mx-0">Make an impact</p>

                <p class="text-xs sm:text-sm text-white pb-16 text-center lg:max-w-[868px] mx-auto sm:text-left">"Hosting oyster tasting events on Hangout allows me to create a larger impact beyond my blog and get more people interested in and involved with sustainable seafood."</p>
              </div>
            </div>
          </div>
        </div>
        <label for="carousel-3" class="hidden sm:block prev control-1 w-10 h-10 ml-[2rem] md:ml-[2rem] lg:ml-[5rem] absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 left-0 my-auto">‹</label>
        <label for="carousel-2" class="hidden sm:block next control-1 w-10 h-10 mr-[2rem] md:mr-[2rem] lg:mr-[5rem] absolute cursor-pointer text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 right-0 my-auto">›</label>

        <!--Slide 2-->
        <input class="carousel-open hidden" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0">
          <div class="block h-full px-4 sm:pl-8 md:px-8 sm:pr-6 bg-dark-viridian text-white text-5xl text-center">
            <div class="sm:flex">
              <div class="w-full h-11/12 max-h-[340px] mb-6 lg:mb-0 mx-auto rounded-md overflow-hidden">
                <%= image_tag "japanese_tech.jpg", class: "h-full w-full" %>
              </div>

              <div class="sm:flex sm:flex-col justify-center sm:px-8 w-full">
                <p class="outfit text-xl font-bold text-white mb-6 text-center sm:text-left lg:max-w-[868px] mx-auto sm:mx-0">Find your people</p>

                <p class="text-xs sm:text-sm text-white pb-16 text-center lg:max-w-[868px] mx-auto sm:text-left">"I couldn’t find people from Japan or people who wanted to learn about Japanese startups and technology. I discovered through creating a Hangout group that many others were also looking for connections like this."</p>
              </div>
            </div>
          </div>
        </div>
        <label for="carousel-1" class="prev control-2 w-10 h-10 ml-[2rem] md:ml-[2rem] lg:ml-[5rem] absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 left-0 my-auto">‹</label>
        <label for="carousel-3" class="next control-2 w-10 h-10 mr-[2rem] md:mr-[2rem] lg:mr-[5rem] absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 right-0 my-auto">›</label>

        <!--Slide 3-->
        <input class="carousel-open hidden" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
        <div class="carousel-item absolute opacity-0">
          <div class="block h-full px-4 sm:pl-8 md:px-8 sm:pr-6 bg-dark-viridian text-white text-5xl text-center">
            <div class="sm:flex">
              <div class="w-full h-11/12 max-h-[340px] mb-6 lg:mb-0 mx-auto rounded-md overflow-hidden">
                <%= image_tag "women_drinking_beer.jpg", class: "h-full w-full" %>
              </div>

              <div class="sm:flex sm:flex-col justify-center sm:px-8 w-full">
                <p class="outfit text-xl font-bold text-white mb-6 text-center sm:text-left lg:max-w-[868px] mx-auto sm:mx-0">Grow a network</p>

                <p class="text-xs sm:text-sm text-white pb-16 text-center lg:max-w-[868px] mx-auto sm:text-left">"Hangout allows me to reach people I wouldn’t otherwise meet and invite them to be a part of something I love."</p>
              </div>
            </div>
          </div>
        </div>
        <label for="carousel-2" class="prev control-3 w-10 h-10 ml-[2rem] first-letter:first-line:md:ml-[2rem] lg:ml-[5rem] absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 left-0 my-auto">‹</label>
        <label for="carousel-1" class="next control-3 w-10 h-10 mr-[2rem] md:mr-[2rem] lg:mr-[5rem] absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-viridian leading-tight text-center z-[99] bottom-0 right-0 my-auto">›</label>

        <!-- Add additional indicators for each slide-->
        <ol class="carousel-indicators">
          <li class="inline-block mr-3">
            <label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-viridian">•</label>
          </li>
          <li class="inline-block mr-3">
            <label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-viridian">•</label>
          </li>
          <li class="inline-block mr-3">
            <label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-viridian">•</label>
          </li>
        </ol>
      </div>
    </div>
  </div>

  <%# ---------- ORGANIZE SECTION ---------- %>

  <div class="flex flex-col pt-32 sm:pt-12 max-w-[650px] items-center sm:flex-row">
    <div class="flex flex-col w-full sm:mr-5 lg:mr-20 mb-6 sm:mb-0">
      <h2 class="outfit text-2xl font-bold mt-2 mb-8">Organize your way, on your schedule</h2>
    </div>
  </div>

  <div class="container mx-auto flex items-center max-w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mx-auto">
      <div class="flex flex-col justify-center text-6xl rounded-xl h-[380px] w-full">
        <div class="max-h-[194px] max-w-[320px] mx-auto">
          <%= image_tag "selecting_team.png", class: "w-full h-full" %>
        </div>

        <div>
          <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Find your members</h3>
          <p class="mx-auto text-center text-sm">We’ll help you find interested members and you can approve them to be sure they’ll be a good fit for your community.</p>
        </div>
      </div>

      <div class="flex flex-col justify-center text-6xl rounded-xl h-[380px] w-full">
        <div class="max-h-[194px] max-w-[320px] mx-auto">
          <%= image_tag "date_picker.png", class: "w-full h-full" %>
        </div>

        <div>
          <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Schedule events in minutes</h3>
          <p class="mx-auto text-center text-sm">Organizer tools make it easy to schedule and manage your events. You decide when, where, and how often your group meets.</p>
        </div>
      </div>

      <div class="flex flex-col justify-center text-6xl rounded-xl h-[380px] w-full">
        <div class="max-h-[194px] max-w-[320px] mx-auto">
          <%= image_tag "high_five.png", class: "w-full h-full" %>
        </div>

        <div>
          <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Have others help you host</h3>
          <p class="mx-auto text-center text-sm">You don’t have to do it alone. Recruit a leadership team to help you host events and manage your group.</p>
        </div>
      </div>
    </div>
  </div>

  <%# ---------- WHAT WOULD... SECTION ---------- %>
  <div class="flex flex-col mt-12 max-w-[650px] items-center sm:flex-row">
    <div class="flex flex-col w-full sm:mr-5 lg:mr-20 mb-6 sm:mb-0">
      <h2 class="outfit text-2xl font-bold mt-2 mb-8">What would you like your group to do?</h2>
      <p class="text-sm sm:mb-8">Try starting simple with one of these common event formats.</p>
    </div>
  </div>

  <div class="container max-w-full">
    <div class="grid grid-cols-2 gap-4">
      <div class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer">
        <div class="content bg-cover bg-center h-32 sm:h-64 rounded-t-lg" style="background-image: url(<%= image_url('friends_playing_game.jpg')%>);"></div>

        <div class="mt-6 px-4">
          <div class="outfit font-bold text-xl mb-2">Hang out</div>
          <p class="text-gray-700 text-sm md:text-base">
            Organize a get-together at a bar or local coffee shop to discuss something you're interested in.
          </p>
        </div>
      </div>

      <div class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer">
          <div class="content bg-cover bg-center h-32 sm:h-64 rounded-t-lg" style="background-image: url(<%= image_url('beach_yoga.jpg')%>);"></div>

          <div class="mt-6 px-4">
            <div class="outfit font-bold text-xl mb-2">Learn</div>
            <p class="text-gray-700 text-sm md:text-base">
              Teach a class, host a workshop, or invite guest speakers to share their expertise with the group.
            </p>
          </div>
      </div>

      <div class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer">
          <div class="content bg-cover bg-center h-32 sm:h-64 rounded-t-lg" style="background-image: url(<%= image_url('alpine_hiking.jpg')%>);"></div>

          <div class="mt-6 px-4">
            <div class="outfit font-bold text-xl mb-2">Explore</div>
            <p class="text-gray-700 text-sm md:text-base">
              Meet for a movie, go for a hike, try a new restaurant, or plan weekend adventures together.
            </p>
          </div>
      </div>

      <div class="mx-auto group w-full shadow-2xl max-w-md pb-8 rounded-b-2xl transform duration-500 hover:-translate-y-2 cursor-pointer">
          <div class="content bg-cover bg-center h-32 sm:h-64 rounded-t-lg" style="background-image: url(<%= image_url('networking.jpg')%>);"></div>

          <div class="mt-6 px-4">
            <div class="outfit font-bold text-xl mb-2">Network</div>
            <p class="text-gray-700 text-sm md:text-base">
              Find space at a bar or professional building to bring people together who work in similar industries.
            </p>
          </div>
      </div>
    </div>
  </div>

  <%# ---------- HOW TO... SECTION ---------- %>
  <div class="flex flex-col pt-20 max-w-[650px] items-center sm:flex-row">
    <div class="flex flex-col w-full sm:mr-5 lg:mr-20 mb-6 sm:mb-0">
      <h2 class="outfit text-2xl font-bold mt-2 mb-8">How to get started</h2>
      <p class="text-sm sm:mb-8">Here’s an overview of how you’ll create your Meetup group, from start to finish.</p>
    </div>
  </div>

  <div class="container mx-auto flex items-center max-w-full">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 mx-auto">
      <div class="flex flex-col justify-center text-6xl rounded-xl h-[250px] w-full">
        <div class="relative h-[150px] w-[150px] mx-auto flex flex-col items-center">
          <svg class="opacity-80 absolute" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFB234" d="M68.4,-22.8C76.3,2.1,61.8,33.6,41,46.3C20.2,59.1,-7,53,-30.3,37.1C-53.7,21.2,-73.2,-4.5,-67.6,-26.2C-61.9,-48,-30.9,-65.9,-0.3,-65.8C30.3,-65.7,60.5,-47.6,68.4,-22.8Z" transform="translate(100 100)" />
          </svg>
          <p class="z-10 mt-12 text-3xl text-white outfit font-bold">1</p>
        </div>

        <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Create a group</h3>
        <p class="mx-auto text-center text-sm">Decide what the group is about, who should join, and what you’ll do at your events.</p>
      </div>

      <div class="flex flex-col justify-center text-6xl rounded-xl h-[250px] w-full">
        <div class="relative h-[150px] w-[150px] mx-auto flex flex-col items-center">
          <svg class="opacity-80 absolute -ml-[10px] -mt-[10px]" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFB234" d="M57.9,-17.1C66.5,7.5,58.9,39.1,41.2,50.6C23.5,62,-4.4,53.2,-23.1,38.2C-41.7,23.1,-51.2,1.7,-45.8,-18.6C-40.4,-38.9,-20.2,-58.2,2.2,-58.9C24.7,-59.6,49.4,-41.8,57.9,-17.1Z" transform="translate(100 100)" />
          </svg>
          <p class="z-10 mt-12 text-3xl text-white outfit font-bold">2</p>
        </div>

        <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Review and submit</h3>
        <p class="mx-auto text-center text-sm">Your group will be reviewed and shared with members who have similar interests.</p>
      </div>

      <div class="flex flex-col justify-center text-6xl rounded-xl h-[250px] w-full">
        <div class="relative h-[125px] w-[125px] mx-auto flex flex-col items-center">
          <svg class="opacity-80 absolute -ml-[10px] -mt-[5px]" viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFB234" d="M70.3,-21C79.8,6.5,68.6,42.7,43.7,61C18.7,79.3,-19.8,79.8,-39.7,63.2C-59.6,46.7,-61,13.2,-51.3,-14.6C-41.6,-42.3,-20.8,-64.4,4.8,-66C30.4,-67.5,60.8,-48.6,70.3,-21Z" transform="translate(100 100)" />
          </svg>
          <p class="z-10 mt-12 text-3xl text-white outfit font-bold">3</p>
        </div>

        <h3 class="mx-auto text-center font-bold outfit text-base mt-4 mb-8">Plan your first event</h3>
        <p class="mx-auto text-center text-sm">Use Hangout’s organizer tools to schedule your events and manage your attendee lists.</p>
      </div>


    </div>
  </div>

  <div class="my-20 container relative text-center text-white mx-auto flex items-center max-w-full">
    <div class="w-full h-screen max-h-[280px]">
      <%= image_tag "skateboarding_group.jpg", class: "object-cover h-full w-full" %>
    </div>

    <div class="mb-8 absolute top-2/4 left-2/4 -translate-x-1/2 -translate-y-[275%] centered outfit text-2xl font-bold mt-2 w-full">Ready to start your group?</div>

    <a class="absolute top-2/4 left-2/4 -translate-x-1/2 -translate-y-3/4 text-center text-sm w-[160px] rounded-lg cursor-pointer text-white py-2 px-4 bg-indigo-600 hover:opacity-80 float-left md:float-none inline-block hover:no-underline transition ease-in-out delay-75" href="/users/162/groups/new">Let's go!</a>
  </div>
</div>

