<% if current_user == nil %>
  <div class="flex flex-col flex-grow pt-4 md:pt-10 px-0 lg:px-12 homepage md:max-w-7xl mx-auto" style="padding-bottom: 4rem;">
    <div class="flex flex-col items-center w-full sm:flex-row mb-14">
      <div class="flex flex-col w-full md:w-1/2 space-y-6 sm:mr-5 lg:mr-20 mb-6 sm:mb-0">
        <h1 class="outfit text-3xl sm:text-5xl font-bold">Celebrating real connections on Hangout</h1>

        <p>Whatever you’re looking to do this year, Hangout can help. People turn to Hangout to meet people, make friends, find support, grow a business, and explore their interests. Thousands of events are happening every day—join the fun.</p>
      </div>

      <div class="w-5/6 lg:w-1/2 mb-6 lg:mb-0">
        <%= image_tag "street_food.png" %>
      </div>
    </div>

    <div class="w-full relative mb-12 sm:hidden">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-5 mt-5">

        <div class="flex items-start order-none transition ease-in-out delay-75 hover:opacity-80" data-testid="category-card">
          <div class="w-full h-full">
            <div class="w-full h-full inline-block">
              <a href="https://www.meetup.com/find/?source=EVENTS&amp;keywords=friends" data-element-name="image1-filter" class="hover:text-viridian space-y-2 aaan1c7">
                <div class="relative w-full h-[124px] sm:max-h-[400px]">
                  <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                    <img src="<%= image_url('video_call.jpg')%>" class="w-full rounded-lg" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover">
                  </span>
                </div>
                <div class="w-full text-left flex flex-row font-semibold text-viridian items-center">
                  Make new friends
                  <div class="flex ml-2">
                    <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                      <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                        <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                      </span>
                      <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>

                      <%# <img alt="" src="https://secure.meetupstatic.com/next/images/shared/right-arrow.svg?w=48" decoding="async" data-nimg="intrinsic" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%" srcset="https://secure.meetupstatic.com/next/images/shared/right-arrow.svg?w=32 1x, https://secure.meetupstatic.com/next/images/shared/right-arrow.svg?w=48 2x"> %>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="flex items-start order-none transition ease-in-out delay-75 hover:opacity-80" data-testid="category-card">
          <div class="w-full h-full">
            <div class="w-full h-full inline-block">
              <a href="https://www.meetup.com/find/?source=EVENTS&amp;categoryId=684" data-element-name="image2-filter" class="hover:text-viridian space-y-2 aaan1c7">
                <div class="relative w-full h-[124px] sm:max-h-[400px]">
                  <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                    <img src="<%= image_url('hikers.jpg')%>" class="w-full rounded-lg" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover">
                  </span>
                </div>
                <div class="w-full text-left flex flex-row font-semibold text-viridian items-center">
                  Explore the outdoors
                  <div class="flex ml-2">
                    <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                      <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                        <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                      </span>
                      <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>

        <div class="flex items-start order-none transition ease-in-out delay-75 hover:opacity-80" data-testid="category-card">
          <div class="w-full h-full">
            <div class="w-full h-full inline-block">
              <a href="https://www.meetup.com/find/?source=EVENTS&amp;categoryId=546" data-element-name="image3-filter" class="hover:text-viridian space-y-2 aaan1c7">
                <div class="relative w-full h-[124px] sm:max-h-[400px]">
                  <span style="box-sizing:border-box;display:block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:absolute;top:0;left:0;bottom:0;right:0">
                    <img src="<%= image_url('tech.jpg')%>" class="w-full rounded-lg" style="position:absolute;top:0;left:0;bottom:0;right:0;box-sizing:border-box;padding:0;border:none;margin:auto;display:block;width:0;height:0;min-width:100%;max-width:100%;min-height:100%;max-height:100%;object-fit:cover">
                  </span>
                </div>
                <div class="w-full text-left flex flex-row font-semibold text-viridian items-center">
                  Connect over tech
                  <div class="flex ml-2">
                    <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                      <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                        <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                      </span>
                      <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>
                    </span>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="hidden sm:block w-full relative mb-14">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-5">
        <div class="flex items-start order-none">
          <div class="w-full h-full transition ease-in-out delay-75 hover:opacity-80">
            <a href="https://www.meetup.com/find/?source=EVENTS&amp;keywords=friends" class="space-y-2">
              <div class="relative w-full">
                <%= image_tag "video_call.jpg", class: "rounded-lg" %>
              </div>
              <div class="w-full text-left flex flex-row font-semibold items-center font text-viridian">
                Make new friends
                <div class="flex ml-2">
                  <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                    <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                      <img class="block max-w-full w-initial h-initial background-none opacity-1 border-0 m-0 p-0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                    </span>
                    <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="flex items-start order-none">
          <div class="w-full h-full transition ease-in-out delay-75 hover:opacity-80">
            <a href="https://www.meetup.com/find/?source=EVENTS&amp;keywords=friends" class="space-y-2">
              <div class="relative w-full">
                <%= image_tag "hikers.jpg", class: "rounded-lg" %>
              </div>
              <div class="w-full text-left flex flex-row font-semibold items-center text-viridian">
                Explore the outdoors
                <div class="flex ml-2">
                  <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                    <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                      <img class="block max-w-full w-initial h-initial background-none opacity-1 border-0 m-0 p-0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                    </span>
                    <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>

        <div class="flex items-start order-none">
          <div class="w-full h-full transition ease-in-out delay-75 hover:opacity-80">
            <a href="https://www.meetup.com/find/?source=EVENTS&amp;keywords=friends" class="space-y-2">
              <div class="relative w-full">
                <%= image_tag "tech.jpg", class: "rounded-lg" %>
              </div>
              <div class="w-full text-left flex flex-row font-semibold items-center text-viridian">
                Connect over tech
                <div class="flex ml-2">
                  <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                    <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                      <img class="block max-w-full w-initial h-initial background-none opacity-1 border-0 m-0 p-0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%2718%27%20height=%2718%27/%3e">
                    </span>
                    <%= image_tag "viridian_right_arrow.svg", class: "-mt-4 h-6" %>
                  </span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="grid lg:grid-cols-2 md:grid-cols-1 mb-14">
      <div class="relative mb-6 lg:mb-0 lg:mr-8">
        <h1 class="outfit text-3xl font-bold mb-5">What do you want to do?</h1>

        <%= form_with url: "/search", method: :get do |form| %>
          <div class="flex-none sm:flex mb-6">
            <div class="mr-2 w-full relative">
              <div>
                <div class="absolute top-3 left-2" style="width:20px;height:20px">
                  <div>
                    <img src="https://img.icons8.com/external-dreamstale-lineal-dreamstale/32/000000/external-search-ui-dreamstale-lineal-dreamstale.png" class="h-4 mt-px ml-px"/>
                  </div>
                </div>
              </div>
              <label class="sr-only" for="search-keyword-input">Search for events using a keyword</label>
              <input type="text" id="search-keyword-input" data-element-name="keywordSearchBar" data-event-label="Keyword search" value="" tabindex="0" placeholder="Search for &quot;tennis&quot;" class="w-full pl-8 rounded-t rounded-b-none border border-b-0 sm:border-b sm:rounded border-gray-300" data-testid="search-keyword-input">
            </div>
            <div class="w-full relative">
              <div class="z-10 absolute top-3 left-2" style="width:18px;height:18px">
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="injected-svg fill-gray-400 text-gray5" data-src="https://secure.meetupstatic.com/next/images/design-system-icons/map-marker.svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="width:18px;height:18px"><title>icon</title>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M13.015 21.3588C17.4032 18.4382 20 14.6519 20 10C20 5.58172 16.4183 2 12 2C7.58172 2 4 5.58172 4 10C4 14.6519 6.59679 18.4382 10.985 21.3588C11.5999 21.7681 12.4001 21.7681 13.015 21.3588ZM12 13C13.6569 13 15 11.6569 15 10C15 8.34315 13.6569 7 12 7C10.3431 7 9 8.34315 9 10C9 11.6569 10.3431 13 12 13Z"></path>
                  </svg>
                </div>
              </div>
              <div class="flex-grow w-full" data-testid="SearchTypeahead">
                <div class="relative">
                  <div role="combobox" aria-haspopup="listbox" aria-owns="location-typeahead-searchLocation-menu" aria-expanded="false">
                    <input data-element-name="searchLocation" data-event-label="Location search" class="rounded-b-[4px] appearance-none pl-8 border p-2 border-gray-300 outline-none hover:border-gray6 focus:border-viridian hover:z-10 focus:z-10 rounded-l-none w-full sm:rounded" placeholder="Location" aria-label="Search for location by city or zip code" id="location-typeahead-searchLocation" aria-autocomplete="list" aria-controls="location-typeahead-searchLocation-menu" aria-labelledby="location-typeahead-searchLocation-label" autocomplete="off" value="">
                  </div>
                </div>
                <div class="mt-1 bg-white z-dropdown border border-gray3 px-4 py-3 rounded space-y-3 shadow-lg w-full hidden" data-popper-reference-hidden="false" data-popper-escaped="false" data-popper-placement="bottom-start" style="position: absolute; inset: 0px auto auto 0px; transform: translate3d(415.5px, 1040px, 0px);">
                  <ul id="location-typeahead-searchLocation-menu" role="listbox" aria-labelledby="location-typeahead-searchLocation-label" class="hidden"></ul>
                </div>
              </div>
            </div>
          </div>
          <div>
            <input type="submit" data-element-name="searchBarButton" data-event-label="Search bar" data-testid="search-submit" value="Search" class="outfit font-bold transition ease-in-out delay-75 hover:opacity-80 py-2 px-4 h-12 w-full rounded-xl cursor-pointer text-white bg-peach fill-currentColor border-peach text-xl hover:no-underline focus:no-underline">
          </div>
        <% end %>
      </div>

      <div class="hidden lg:block">
        <div class="grid grid-rows lg:ml-8">
          <h1 class="outfit text-3xl font-bold mb-5">See what's happening</h1>

          <div class="md:h-auto w-100 flex-wrap md:max-w-xl lg:max-w-full overflow-x-auto overflow-y-hidden -mx-6 sm:-mx-4 md:mx-0">
            <div class="flex flex-wrap w-max md:w-auto px-6 sm:px-4 md:px-0 h-auto">
              <% @quick_search_terms.each do |t| %>
                <%= render 'quick_search_pill', term: t %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="block sm:hidden overflow-x-hidden">
        <div class="grid grid-rows lg:ml-8">
          <h2 class="hidden sm:block text-3xl font-bold mb-5">See what’s happening</h2>
          <div class="md:h-auto w-100 flex-wrap md:max-w-xl lg:max-w-full overflow-x-scroll overflow-y-hidden -mx-6 sm:-mx-4 md:mx-0">
            <div class="flex flex-wrap w-max md:w-auto px-6 sm:px-4 md:px-0 dfarcjx">
              <%= render 'quick_search_pill', term: "Starting soon" %>
              <%= render 'quick_search_pill', term: "Today" %>
              <%= render 'quick_search_pill', term: "Tomorrow" %>
              <%= render 'quick_search_pill', term: "This week" %>
            </div>
            <div class="flex flex-wrap w-max md:w-auto px-6 sm:px-4 md:px-0 dfarcjx">
              <%= render 'quick_search_pill', term: "Online" %>
              <%= render 'quick_search_pill', term: "In person" %>
              <%= render 'quick_search_pill', term: "Trending near you" %>
            </div>
          </div>
        </div>
      </div>

      <div class="hidden sm:block lg:hidden overflow-x-hidden">
        <h2 class="hidden sm:block text-3xl font-bold mb-5">See what’s happening</h2>
        <div class="md:h-auto w-screen lg:max-w-full overflow-x-auto overflow-y-hidden -mx-6 sm:-mx-4 md:mx-0">
          <div class="flex flex-nowrap px-6 sm:px-4 md:px-0 max-w-max w-max dfarcjx">
            <%= render 'quick_search_pill', term: "Starting soon" %>
            <%= render 'quick_search_pill', term: "Today" %>
            <%= render 'quick_search_pill', term: "Tomorrow" %>
            <%= render 'quick_search_pill', term: "This week" %>
            <%= render 'quick_search_pill', term: "Online" %>
            <%= render 'quick_search_pill', term: "In person" %>
            <%= render 'quick_search_pill', term: "Trending near you" %>
          </div>
        </div>
      </div>
    </div>


    <div class="md:max-w-screen w-full">
      <div class="text-center overflow-hidden">
        <h2 class="outfit text-left sm:text-center text-2xl sm:text-3xl font-semibold mb-2">How Hangout works</h2>
        <p class="text-left sm:text-center w-full sm:w-2/3 lg:w-1/2 mb-10 mx-auto">Meet new people who share your interests through online and in-person events. It’s free to create an account.</p>

        <div class="overflow-auto mb-10 md:mb-14">
          <div class="flex flex-row  sm:space-y-0">
            <div class="service min-w-[180px] flex flex-col sm:w-1/3 items-center space-y-2 px-6" data-testid="PromoGridItem">
              <div class="mt-3 md:mt-0 w-[160px]">
                <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                  <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                    <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27160%27%20height=%27151%27/%3e">
                  </span>
                  <%= image_tag "community.png", class: "absolute top-0 left-0 right-0 bottom-0 box-border p-0 border-none m-auto block w-0 h-0 min-w-full max-w-full min-h-full max-h-full" %>
                </span>
              </div>
              <div class="text-center">
                <a href="https://www.meetup.com/find/?source=GROUPS" class="text-indigo-600" data-element-name="joinAGroup-CTA">
                  <h3 class="outfit font-semibold text-xl mb-3 hover:underline" data-testid="promo-item-title">Join a group</h3>
                </a>
                <p class="text-sm text-center font-normal text-gray7" data-testid="promo-item-message">Do what you love, meet others who love it, find your community. The rest is history!</p>
              </div>
            </div>
            <div class="service min-w-[180px] flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs" data-testid="PromoGridItem">
              <div class="mt-3 md:mt-0 w-[160px]">
                <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                  <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                    <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27160%27%20height=%27151%27/%3e">
                  </span>
                  <%= image_tag "conversation.png", class: "absolute top-0 left-0 right-0 bottom-0 box-border p-0 border-none m-auto block w-0 h-0 min-w-full max-w-full min-h-full max-h-full" %>
                </span>
              </div>
              <div class="text-center">
                <a href="https://www.meetup.com/find/?source=EVENTS" class="text-indigo-600" data-element-name="findAnEvent-CTA">
                  <h3 class="outfit font-semibold text-xl mb-3 hover:underline" data-testid="promo-item-title">Find an event</h3>
                </a>
                <p class="text-sm text-center font-normal text-gray7" data-testid="promo-item-message">Events are happening on just about any topic you can think of, from online gaming and photography to yoga and hiking.</p>
              </div>
            </div>
            <div class="service min-w-[180px] flex flex-col sm:w-1/3 items-center space-y-2 px-6 p1ym4qhs" data-testid="PromoGridItem">
              <div class="mt-3 md:mt-0 w-[160px]">
                <span style="box-sizing:border-box;display:inline-block;overflow:hidden;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;position:relative;max-width:100%">
                  <span style="box-sizing:border-box;display:block;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0;max-width:100%">
                    <img style="display:block;max-width:100%;width:initial;height:initial;background:none;opacity:1;border:0;margin:0;padding:0" alt="" aria-hidden="true" src="data:image/svg+xml,%3csvg%20xmlns=%27http://www.w3.org/2000/svg%27%20version=%271.1%27%20width=%27160%27%20height=%27151%27/%3e">
                  </span>
                  <%= image_tag "fans.png", class: "absolute top-0 left-0 right-0 bottom-0 box-border p-0 border-none m-auto block w-0 h-0 min-w-full max-w-full min-h-full max-h-full" %>
                </span>
              </div>
              <div class="text-center">
                <a href="https://www.meetup.com/start/organizing" class="text-indigo-600" data-element-name="startAGroup-CTA">
                  <h3 class="outfit font-semibold text-xl mb-3 transition ease-in-out delay-150 hover:underline" data-testid="promo-item-title">Start a group</h3>
                </a>
              <p class="text-sm text-center font-normal text-gray7" data-testid="promo-item-message">You don’t have to be an expert to gather people together and explore shared interests.</p>
            </div>
          </div>
        </div>
      </div>
      <a data-element-name="joinMeetup-CTA" data-testid="join-meetup-button" class="rounded-lg cursor-pointer text-white py-2 px-4 bg-indigo-600 border-indigo-600 float-left md:float-none inline-block hover:no-underline transition ease-in-out delay-75 hover:opacity-80" href="https://www.meetup.com/register/">Join Hangout</a>
    </div>
    </div>
  </div>

<%# signed in user %>
<% else %>
  <div class="flex flex-col flex-grow z-10" style="padding-bottom: 4rem;">
    <div class="flex flex-col items-center flex-grow relative">
      <div class="px-4 sm:px-4 xl:px-4 w-full md:max-w-screen-xl mx-auto lg:px-10 mt-6 pb-14">
        <%# <h1 class="outfit text-3xl sm:text-5xl font-bold">Welcome, <%= current_user.name.split(' ').first.capitalize </h1> %>

        <%# <h2 class="outfit text-lg sm:text-2xl font-bold">Events from your groups</h2> %>

        <div class="flex flex-col sm:flex-row text-primary my-10 sm:mt-4 justify-between " data-testid="feat-home-heading">
          <div>
            <h2 class="outfit text-3xl sm:text-5xl font-bold">Welcome, <%= current_user.name.split(' ').first.capitalize %> 👋</h2>
            <h3 class="outfit text-lg sm:text-2xl font-bold mt-10">Events from your groups</h3>
          </div>
          <div class="block gl:hidden">
            <div class="flex mt-10 sm:mt-0"></div>
          </div>
        </div>
      </div>
    </div>
<% end %>
