<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path("logo.png") %>

    <title>Hangout - We are what we do</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%# <link rel="stylesheet" href="/path/to/cdn/fontawesome.min.css" /> %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Google Places config %>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&libraries=places&key=<%= ENV['GOOGLE_PLACES_API_KEY'] %>" type="text/javascript"></script>
    <script type="text/javascript">
      function initialize() {
        const options = {
          types: ['(cities)'],
          componentRestrictions: {
            country: "us"
          }
        };

        const input = document.getElementById('searchTextField');
        const autocomplete = new google.maps.places.Autocomplete(input, options);

        google.maps.event.addListener(autocomplete, 'place_changed', function() {
          var location_input = document.querySelector('#searchTextField')
          var place = autocomplete.getPlace()

          const city = place.address_components[0].long_name
          const state = place.address_components[2].short_name

          location_input.value = `${city}, ${state}`
        });
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
  </head>

  <body>
    <main class="container max-w-full px-4 sm:px-6 md:px-8">
      <% if notice %>
        <p class="alert alert-success font-semibold -mx-4 sm:-mx-6 md:-mx-8"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger font-semibold -mx-4 sm:-mx-6 md:-mx-8"><%= alert %></p>
      <% end %>

      <%= render "layouts/header", u: current_user %>
      <%= yield %>
      <%= render "layouts/footer", u: current_user %>
    </main>
  </body>
</html>
