<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag asset_path("logo.png") %>

    <title>Hangout - We are what we do</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main class="container max-w-full px-4 sm:px-6 md:px-8">
      <% if notice %>
        <p class="alert alert-success font-semibold -mx-4 sm:-mx-6 md:-mx-8"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger font-semibold -mx-4 sm:-mx-6 md:-mx-8"><%= alert %></p>
      <% end %>

      <%= render "layouts/header", u: current_user %>
      <%= yield %>
      <%= render "layouts/footer", u: current_user %>
    </main>
  </body>
</html>
